
.nav {
  position: sticky;
  /* Just in case */
  top: 0;   
  left: 0;

  height: 3.5rem;
  background-color: rgba(241, 176, 28, 1);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ul { 
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.li a{
  color: rgb(21, 19, 10);
  font-weight: 700;
  
}

.logo {
  color: rgba(241, 176, 28, 1);
  background-color: rgb(21, 19, 10);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}

.logo a {
  color: inherit;
  font-weight: 700;
}